- list.each_with_index do |track, i|
  %div= image_tag(track.icon)
  %div
    %strong
      Track:
    = track.name
  %div
    %strong
      Album:
    = track.album
  %div
    %strong
      Artist:
    = track.artist

  %div
    %strong
      Number of Votes:
    = number_of_votes_for(requests[i])

  - if valid_up_vote(requests[i])
    %div
      = link_to '+1', up_votes_path(requests[i]), method: :post, remote: true
  - if valid_down_vote(requests[i])
    %div
      = link_to '-1', down_votes_path(requests[i]), method: :post, remote: true
