= form_tag new_music_queue_path, method: :get do
  = text_field_tag 'music_queue_name'
  %span Enter Queue Name

  = text_field_tag 'music_queue_description'
  %span Enter Queue Description

  %p= submit_tag 'Create Queue'

%p Join a Queue

- @music_queues.each do |music_queue|
  %p
    %div= link_to music_queue.name || music_queue.id, music_queue_path(music_queue)
    = music_queue.description

