- if current_rdio_user?
  = form_for(@music_queue) do |f|
    %p
      %div
        = f.label :name
        = f.text_field :name

      %div
        = f.label :description
        = f.text_field :description

      = f.submit 'Create Playlist'

%p Join a Playlist

- @music_queues.each do |music_queue|
  %p
    %div= link_to music_queue.name || music_queue.id, music_queue_path(music_queue)
    = music_queue.description

