%span{class: 'music_queue', id: "#{@music_queue.id}"}

= form_tag search_track_path, method: :get do
  = text_field_tag 'track_name'
  = submit_tag 'Search for Tracks'

%h3= "#{@music_queue.name || "Music Queue #{@music_queue.id}"}"
%h5= "Description: #{@music_queue.description}"

- if current_music_queue.playing_track
  #api
  %div{id: 'playing'}
    = render 'music_queues/playing', track: current_music_queue.playing_track, track_request: current_music_queue.playing_track_request

- if current_rdio_user?
  = render 'music_queues/authenticated_rdio_interface'
- else
  = render 'music_queues/unauthenticated_rdio_interface'

- if current_music_queue.playlist
  Tracks in the queue:
  %div{id: 'playlist'}
    = render 'music_queues/list', list: current_music_queue.playlist, requests: current_music_queue.playlist_requests
