%span{class: 'music_queue', id: "#{@music_queue.id}"}

= form_tag search_track_path, method: :get do
  = text_field_tag 'track_name'
  = submit_tag 'Search for Tracks'

%h3= "#{@music_queue.name || "Music Queue #{@music_queue.id}"}"
%h5= "Description: #{@music_queue.description}"

%p
  = (File.read("#{Rails.root}/app/views/rdio_interface.html.erb")).html_safe

Tracks in the queue:
%div{id: 'playing'}
  - if current_music_queue.playing_track
    = render 'music_queues/playing', track: current_music_queue.playing_track
%div{id: 'playlist'}
  - if current_music_queue.playlist
    = render 'music_queues/list', list: current_music_queue.playlist
