= form_tag search_track_path, method: :get do
  = text_field_tag 'track_name'
  = submit_tag 'Search for Tracks'

%h3= "Queue ##{@music_queue.id}"

-#%form{controller: 'search', action: 'find_track', method: 'get' }
-#  %input{type: 'text', label: 'Track Name', name: 'Track Name' }
-#  %input{type: 'submit', name: 'Search Tracks', value: 'Search Tracks'}

%div
  - @music_queue.tracks.each do |track|
    %p= track.artist
    %p= track.album
    %p= track.name
    %p= image_tag(track.icon)

