%span{class: 'playlist', id: "#{@music_queue.key}"}

= form_tag search_track_path, method: :get do
  = text_field_tag 'track_name'
  = submit_tag 'Search for Tracks'

%h3= "#{@music_queue.name || "Music Queue #{@music_queue.id}"}"
%h5= "Description: #{@music_queue.description}"

%p
  = (File.read("#{Rails.root}/app/views/rdio_interface.html")).html_safe

Tracks in the queue:
%p{id: 'playlist'}
  = render 'music_queues/list', music_queue: @music_queue
